<div class="container d-flex justify-content-center align-items-start min-vh-100">
  <div class="card shadow" style="width: 400px; margin-top: 50px;">
    <div class="card-body">
      <h2 class="card-title text-center">Forgot your password?</h2>

      <div class="d-flex justify-content-center">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="d-grid">
            <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
