<h2 class="text-center my-4">Edit Item</h2>
<%= form_for @item, url: item_path(@item), method: :patch, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <div class="container">
    <div class="mb-3">
      <%= f.label :category, "Category", class: "form-label" %>
      <%= f.select :category, options_for_select(
          [
            ["Clothing", "clothing"],
            ["Electronics", "electronics"],
            ["Furniture", "furniture"],
            ["Books", "books"],
            ["Toys and Games", "toys_and_games"],
            ["Home Goods", "home_goods"],
            ["Sports and Outdoors", "sports_and_outdoors"],
            ["Baby and Kids", "baby_and_kids"],
            ["Art and Craft Supplies", "art_and_craft_supplies"],
            ["Gardening Tools and Supplies", "gardening_tools"],
            ["Health and Beauty", "health_and_beauty"],
            ["Pet Supplies", "pet_supplies"],
            ["Miscellaneous", "miscellaneous"],
            ["Other", "other"]
          ],
          @item.category 
      ), { include_blank: true }, { class: "form-select" } %>
    </div>

    <div class="mb-3">
      <%= f.label :title, "Item Name", class: "form-label" %>
      <%= f.text_field :title, class: "form-control", placeholder: "Enter the item name" %>
    </div>

    <div class="mb-3">
      <%= f.label :body, "Description", class: "form-label" %>
      <%= f.text_area :body, class: "form-control", rows: 4, placeholder: "Describe the item" %>
    </div>

    <div class="mb-3">
      <%= f.label :condition, "Condition", class: "form-label" %>
      <%= f.select :condition, options_for_select(
          [["New", "new"], ["Good", "good"], ["Used", "used"], ["Needs Repair", "needs_repair"]],
          @item.condition
      ), { include_blank: true }, { class: "form-select" } %>
    </div>

    <div class="mb-3">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :state %>
      <%= f.text_field :state, class: "form-control" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :zipcode %>
      <%= f.text_field :zipcode, class: "form-control" %>
    </div>


    <div class="mb-3">
      <%= f.label :image, "Upload Image", class: "form-label" %>
      <%= f.file_field :image, id: "item_image", class: "form-control" %>
    </div>

    <div class="text-center">
      <%= f.submit "Give Away Item", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
