<div class="container py-5">
  <h1>All items:</h1>

  <div class="mb-4">
    <%= form_with(url: items_path, method: :get, local: true) do |f| %>
      <div class="input-group">
        <%= f.text_field :search, value: params[:search], class: "form-control", placeholder: "Search by title" %>
        <button class="btn btn-outline-secondary" type="submit">Search</button>
      </div>
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% if @items.present? %>
      <% @items.each do |item| %>
        <div class="col mb-4">
          <div class="card shadow-sm h-100">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: "bd-placeholder-img card-img-top img-fluid img-height", style: "max-height: 225px; object-fit: contain;" %>
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em" text-anchor="middle">No image added</text>
              </svg>
            <% end %>
            <div class="card-body">
              <h3 class="card-title"><%= item.title %></h3>
              <p class="card-text"><%= item.location %></p>
              <div class="d-flex justify-content-end">
                <div class="btn-group">
                  <%= link_to "View", item_path(item), class: "btn btn-sm btn-outline-secondary" %>
                  <% if item.reserved_by.nil? %>
                    <%= link_to "Reserve", reserve_item_path(item), method: :post, class: "btn btn-sm btn-success" %>
                  <% elsif current_user && item.reserved_by == current_user.id %>
                    <%= link_to "Cancel Reservation", unreserve_item_path(item), method: :delete, data: { confirm: "Are you sure you want to cancel the reservation?" }, class: "btn btn-sm btn-outline-danger" %>
                  <% else %>
                    <button class="btn btn-sm btn-outline-secondary" disabled>Reserved</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="col mb-4">
        <div class="alert alert-warning">No items found.</div>
      </div>
    <% end %>
  </div>
</div>
