<div class="container my-4">
  <style>
    .img-height {
      max-height: 33.33vh; 
      width: auto; 
      height: auto; 
      object-fit: cover; 
    }

    .container {
      margin-top: 20px; 
    }

    .item-details {
      margin-top: 20px; 
    }

    .creator-info {
      margin-top: 20px; /* Add some space above the creator info */
      padding: 15px; /* Add padding for better spacing */
      border: 1px solid #e0e0e0; 
      background-color: #f9f9f9; 
    }
  </style>

  <% if @item.image.attached? %>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <%= image_tag @item.image, class: 'img-fluid img-height' %> 
      </div>
    </div>
  <% else %>
    <p class="text-center">No image available</p>
  <% end %>

  <div class="item-details">
    <h1><%= @item.title %></h1>

    <p><strong>Description:</strong> <%= @item.body %></p>
    <p><strong>Condition:</strong> <%= @item.condition.humanize %></p>
    <p><strong>Pick Up Location:</strong> <%= @item.city %>, <%= @item.state %> <%= @item.zipcode %>
  </p>    <p><strong>Category:</strong> <%= @item.category.gsub('_', ' ').titleize %></p>
  </div>

  <hr>

  <% if current_user && @item.user_id == current_user.id %>
    <%= link_to "Edit item", edit_item_path(@item), class: 'btn btn-warning' %>
    <%= link_to "Delete item", item_path(@item), 
       method: :delete, 
       data: { confirm: "Are you sure?" }, 
       class: 'btn btn-danger' %>
  <% end %>

  <!-- Information about the item creator only if the item is reserved by the current user -->
  <% if @item.reserved_by?(current_user) %> 
    <div class="creator-info">
      <h3>Item Created By:</h3>
      <p><strong>Name:</strong> <%= @item.user.first_name %> <%= @item.user.last_name %></p>
      <p><strong>Email:</strong> <%= @item.user.email %></p>
    </div>
  <% end %>
</div>
